@import "tailwindcss";

@theme {
  --font-sans: var(--font-outfit), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  
  --color-background: #000000;
  --color-foreground: #ffffff;
}

@layer base {
  body {
    @apply bg-black text-white;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

html.lenis, html.lenis body {
  height: auto;
}
  
.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
